header {
  background-color: #010205;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  grid-area: header;
}
a {
  color: white; /* Text color for the links */
  text-decoration: none; /* No underline */
}
.header_item {
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: #2c2c2c;
  height: 100vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "header header header"
    "sidebar contentbox contentbox";
}
#sidebar {
  grid-area: sidebar;
  background-color: #1c1c1c;
  height: 100%;
  color: white;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 0.4rem;
}
.sidebar_item {
  border: solid white 1pt;
  border-radius: 4pt;
  margin: 0.4rem;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
}
.sidebar_item:hover {
  background-color: #353535;
  transition: 0.4s;
}

h1 {
  color: white;
  width: 100%;
  text-align: center;
}
#contentbox {
  grid-area: contentbox;
}
#button_container {
  grid-area: button_container;
  display: grid;
  grid-template-columns: 50% 50%;
}
#reviewform_box
{
  margin: 8%;
  padding: 2rem;
  background-color: #353535;
  display: grid;
  border-radius: 10px;
  color: white;
  grid-template-areas: 
  'top_left_box top_right_box'
  'bottom_main_box bottom_main_box'
  'manager_response manager_response'
  'button_container button_container';
  gap: 1rem;
}
#manager_response
{
  grid-area: manager_response;
  font-size: large;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #555;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: white;
  resize: none;
  padding: 1rem;
}
#top_right_box
{
  grid-area: top_right_box;
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 10px;
}
#top_left_box
{
  grid-area: top_left_box;
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 10px;
}
#bottom_main_box
{
  grid-area: bottom_main_box;
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 10px;
}
#upload_date
{
  text-align: right;
}
button {
  margin: 0.3rem;
  border: transparent;
  background-color: rgb(213, 208, 208, 0.4);
  border-radius: 4px;
  color: white;
  height: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(165, 165, 165);
  transition: 0.6s;
}
