header {
  background-color: #01100c;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  grid-area: header;
}
a {
  color: white; /* Text color for the links */
  text-decoration: none; /* No underline */
}

#view {
  color: white; /* Text color for the links */
  text-decoration: underline;
}

#view:hover {
  background-color: #544343;
}

.header_item {
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  font-family: sans-serif;
  background-color: #2c2c2c;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "header header header"
    "sidebar contentbox contentbox";
}
#sidebar {
  grid-area: sidebar;
  background-color: #1c1c1c;
  height: 100%;
  color: white;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 0.4rem;
}
.sidebar_item {
  border: solid white 1pt;
  border-radius: 4pt;
  margin: 0.4rem;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
}
.sidebar_item:hover {
  background-color: #353535;
  transition: 0.4s;
}
#contentbox {
  grid-area: contentbox;
}

.claims-container {
  margin: 5%;
  padding: 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.claims-section {
  margin-bottom: 30px;
}

.claims-section h2 {
  color: white;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.claims-section ul {
  list-style-type: none;
  padding: 0;
}

.claims-section ul li {
  background-color: #e9e9e9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  color: #1c1c1c;
}

/* Additional styles for differentiation */
#pending-claims li {
  background-color: #81d5ff;
}

#accepted-claims li {
  background-color: #9aff72;
}

#rejected-claims li {
  background-color: #ff7f7f;
}
