header {
  background-color: #010205;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  grid-area: header;
}
a {
  color: white; /* Text color for the links */
  text-decoration: none; /* No underline */
}
.header_item {
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: #2c2c2c;
  height: 100vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "header header header"
    "sidebar contentbox contentbox";
}
#sidebar {
  grid-area: sidebar;
  background-color: #1c1c1c;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  color: white;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 0.4rem;
}
.sidebar_item {
  border: solid white 1pt;
  border-radius: 4pt;
  margin: 0.4rem;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
}
.sidebar_item:hover {
  background-color: #353535;
  transition: 0.4s;
}

#contentbox {
  grid-area: contentbox;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #2c2c2c;
  height: 100vh;
  margin: 0rem;
}
h1 {
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
legend {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
fieldset {
  border: none;
  border: solid #353535 1.5pt;
}
.register-box {
  margin: 15px;
  padding: 15px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

/* Apply styles to the form */
#register-form {
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Apply styles to form labels */
label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}

/* Apply styles to form inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(131, 127, 127);
  background-color: #2c2c2c;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
}

select {
  width: 35%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid rgb(131, 127, 127);
  background-color: #2c2c2c;
  color: white;
  font-family: "Roboto Mono", monospace;
}

/* Apply styles to form actions */
.form-actions {
  margin-top: 30px;
}

button[type="submit"],
button[type="reset"],
button#cancel,
button {
  padding: 10px 20px;
  background-color: #293645; /* Primary button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
button#cancel:hover,
button:hover {
  background-color: #0056b3; /* Lighter blue shade for hover effect */
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr; /* Stack on small screens */
    grid-template-areas:
      "header"
      "contentbox";
  }

  .container, .entry_box, .form-group input[type="text"], .form-group textarea {
    width: auto; /* Full width on small screens */
  }
}