/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/global.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/page.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
h1
{
    margin-top: 12rem;
    text-align: center;
    font-size: 55px;
    font-family: 'Roboto Mono', monospace;
}
#login_section
{
    margin-top: 8rem;
    width: 100%;
    text-align: center;
}

html
{
    background-image: url(/_next/static/media/waves_image.6f36ae39.jpg);
}
body
{
    background: transparent;
}

#sign_button
{
    width: 15rem;
    height: 4rem;
    font-size: 15px;
    border-radius: 20pt;
    border: rgb(255, 255, 255) solid 2pt;
    color: white;
    background-color: rgb(213, 208, 208, 0.4);
    cursor: pointer;
}
#sign_button span
{
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
#sign_button span:after
{
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}
#sign_button:hover span
{
    padding-right: 25px;
}
#sign_button:hover span:after {
    opacity: 1;
    right: 0;
}
