/* General body styling */
header {
  background-color: #010205;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  grid-area: header;
}

a {
  color: white; /* Text color for the links */
  text-decoration: none; /* No underline */
}

.header_item {
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #2c2c2c;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "header header header"
    "sidebar contentbox contentbox";
}

#sidebar {
  grid-area: sidebar;
  background-color: #1c1c1c;
  height: 100%;
  color: white;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebar_item {
  border: solid white 1pt;
  border-radius: 4pt;
  margin: 0.4rem;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
}
.sidebar_item:hover {
  background-color: #353535;
  transition: 0.4s;
}
#contentbox {
  grid-area: contentbox;
}

.claim-form {
  padding: 15px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

legend {
  grid-area: legend;
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  width: 100%;
}

/* Container for the entire form area */
.container {
  background-color: transparent; /* Light blue background color for the container */
  border-radius: 10px;
  padding: 2em;
  margin: 2rem;
}

/* Header title */
header h1 {
  font-size: 1.5em; /* Adjust size as needed */
  margin: 0; /* Remove default margin */
}

.entry_box {
  font-size: large;
  font-family: "Roboto Mono", monospace;
  border: unset;
  border-bottom: 1.5pt solid grey;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 4px;
}
/* Styling form fields */
.form-group label {
  display: block;
  color: white;
  margin-top: 1em;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  margin-top: 0.5em; /* Space between label and input */
  border-radius: 5px; /* Rounded borders for inputs */
  color: white;
  border-color: rgb(186, 186, 186);
  background-color: #424242;
}

input {
  align-items: center;
  justify-content: center;
}

.form-actions {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* Styling for the form actions area at the bottom */
#formFooter {
  background-color: white;
  border: none; /* No border */
  text-align: center;
  padding: 1em 0; /* Padding at the top and bottom */
}

/* Button styling */
button {
  margin: 0.3rem;
  border: transparent;
  background-color: rgb(213, 208, 208, 0.4);
  border-radius: 4px;
  color: white;
  height: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(165, 165, 165);
  transition: 0.6s;
}

/* Styling for the form's blue borders around inputs */
.blueBorder {
  border: 1px solid blue; /* Blue border as specified */
  padding: 10px; /* Padding inside the border */
  margin-top: 1em; /* Space above the bordered area */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropzone-container {
  @apply flex items-center justify-center w-full;
}

.dropzone-label {
  background-color: #1c1c1c;
  @apply flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer  hover:bg-gray-100  dark:hover:bg-gray-600 dark:border-gray-600 dark:hover:border-gray-500;
}
.dropzone-label2 {
  background-color: #1c1c1c;
  @apply flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer dark:border-gray-600 dark:hover:border-gray-500;
}

.dropzone-input {
  @apply hidden;
}

.dropzone-icon {
  @apply w-8 h-8 mb-4 text-gray-500 dark:text-gray-400;
}

.dropzone-text {
  font-family: "Roboto Mono", monospace;
  @apply mb-2 text-sm text-gray-500 dark:text-gray-400;
}

.dropzone-text span {
  @apply font-semibold;
}

.dropzone-hint {
  @apply text-xs text-gray-500 dark:text-gray-400;
}
